body {
  background-color: #b3cbc3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 60px auto;
  padding: 30px;
  background-color:rgb(15, 232, 229);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #1409d8;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #1707ac;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #190fab;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #246b45;
}

.result {
  margin-top: 25px;
  text-align: center;
}

.result h2, .result h3 {
  margin: 10px 0;
  color: rgb(42, 145, 14);
}
